//--------------------------------------------------//
//--- LANDING PAGE ---------------------------------//
//--------------------------------------------------//

// CLASSES
div.image_header {
  height: 300px;
  position: relative;
  width: 300px;
}

div.image_secondary {
  float: left;
  height: 150px;
  position: relative;
  width: 150px;
}

div.image_tertiary {
  float: left;
  height: 75px;
  position: relative;
  width: 75px;
}
// ID's

//TABLET STYLES
@include respond-to("tablet") {

}

// MOBILE STYLES
@include respond-to("mobile") {

}
